<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ark.homeremedies"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.menu.BgActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".remediedescription.RemedieDescriptionActivity"
            android:label="@string/title_activity_remedie_description"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".curedescription.CureDescriptionScreen"
            android:label="@string/title_activity_cure_description_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.ark.homeremedies.wiki.WebviewActivity"
            android:label="@string/title_activity_webview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>